{% extends 'main.html' %} 
{% block title %}Extension Coordinator{% endblock title  %} 
{% block content %} 
{% load static %} 

<style>
    .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

    .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc
}
.tab{
    max-width:100%;
}
.dropButton {
  background-color: #F6F6F6;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 30px;
  width:30px
}

.dropButton:hover, .dropButton:focus {
  background-color: #F6F6F6;
}

.dropdown{
float: right;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content button {
  width:100%;
  color: black;
  padding: 12px 16px;
  background: none;
  display: block;
  border: none;
}

.dropdown button:hover {background-color: #ddd;}
.dropButton:after {
  content: '\2807';
  font-size: 20px;
  color:#67595E
  }

</style>
<h2>Extension Coordinator</h2>





<div class="row">
    <div class="col col-lg-12">
        <div class="tab">
            <button class="tablinks" onclick="window.location.href='/admin-faculty'">Faculty</button>
            <button class="tablinks" onclick="window.location.href='/admin-department'">Department Head</button>
            <button class="tablinks" onclick="window.location.href='/admin-research'">Research Coordinator</button>
            <button class="tablinks active" onclick="window.location.href='/admin-extension'">Extension Coordinator</button>
          </div>
          <form class="d-flex my-3" action="" method="GET">
            <input class="form-control me-sm-2" type="search" placeholder="Search" name="search" value="{{search}}">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            <button type="button" class="btn btn-primary my-2 my-sm-0 d-flex justify-content-center ms-1 export_pdf_btn">
              <i class="bx bx-printer nav_icon mx-2"></i>
             Print
            </button>
          </form>
          <table class="table table-hover" id="table_data">
            <thead class="table-primary">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">NAME</th>
                  <th scope="col">USERNAME</th>
                  <th scope="col">EMAIL</th>
                  <th scope="col">DEPARTMENT</th>
                  <th scope="col">DATE JOINED</th>
                  <th scope="col">ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                {% for faculty in faculty %}
                  
                

                <tr class="table-secondary">
                    <th scope="row">{{faculty.id}}</th>
                    <td>{{faculty.first_name}} {{faculty.last_name}}</td>
                    <td>{{faculty.username}}</td>
                    <td>{{faculty.email}}</td>
                    <td>{{faculty.department.title}}</td>
                    <td>{{faculty.created_at|date:'Y-m-d' }}</td>
                    <td>
                      
                      <a href="{% url 'admin-edit-profile' faculty.id %}" class="card-link">
                        <i class="bx bx-edit-alt nav_icon px-3"></i>
                      </a> 

                      <a href="{% url 'admin-delete-faculty' faculty.id %}" class="card-link">
                        <i class="bx bx-trash nav_icon px-3"></i>
                      </a>


                      <div class="dropdown">
                        <button class="dropButton" onclick="dropButton('{{faculty.id}}')">&nbsp;</button>
                        <div id="myDropdown{{faculty.id}}" class="dropdown-content">
                        
                        <button onclick="changeRole('{{faculty.id}}', '1', '{{faculty.department.title}}')">Faculty</button>
                        <button onclick="changeRole('{{faculty.id}}', '2', '{{faculty.department.title}}')">Department Head</button>
                        <button onclick="changeRole('{{faculty.id}}', '3', '{{faculty.department.title}}')">Research Coordinator</button>
                         
                         
                        </div>
                      </div>  
                    </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
    </div>
</div>

{% include 'admin_faculty_pagination.html' %}

<script>
  function dropButton(dropNum){
	document.getElementById("myDropdown"+dropNum).style.display = "block";
}

window.onclick = function(event) {
  if (!event.target.matches('.dropButton')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (let i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      openDropdown.style.display="none";
    }
  }
 

}
</script>

<script src="{% static 'js/changeRole.js' %}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<script type="text/javascript">

document.querySelector('.export_pdf_btn').addEventListener("click", () => {
    const invoice = document.getElementById("table_data");

            var opt = {
                margin: 1,
                filename: 'ExtensionCoordinator.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape'}
            };
            html2pdf().from(invoice).set(opt).save();
 })

 </script>
{% endblock content %}
