<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    <form class="modal-content">
      <div class="modal-container">
        <h1>Logout</h1>
        <p>do you want to logout?</p>
      
        <div class="clearfix">
          <button type="button" onclick="window.location.href='/logout'" class="btn btn-primary">Confirm</button>
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </form>
  </div>